@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}
<!--Home Index Page includes a title and an image of Joel Hilton-->
<div>
    <h1>@ViewBag.Title</h1>
    <img src="~/img/JoelHilton.jpg" />
</div>